<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isdb">

  <application
      android:name=".IsdbApplication"
      android:allowBackup="true"
      android:icon="@mipmap/isdb_launcher"
      android:label="@string/app_name"
      android:networkSecurityConfig="@xml/security"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/MyMaterialTheme">
    <activity
        android:name=".AActivity"
        android:exported="true"
        android:label="@string/title_activity_aactivity"
        android:theme="@style/MyMaterialTheme.NoActionBar" />
    <activity android:name=".login.ui.register.RegisterActivity" />
    <activity android:name=".login.ui.login.LoginActivity" />
    <activity android:name=".tracks.ui.HomeScreenActivity" />
    <activity android:name=".login.ui.LoginMainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <uses-permission android:name="android.permission.INTERNET" />

</manifest>